.create-account-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fa0c8d;
}

.btn-signin {
    --c: #f97f4d;
    color: var(--c);
    border: 0.1em solid #f97f4d;
    border-radius: 0.5em;
    height: 3.25rem;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.7s;
    color: darken(#f97f4d, 25%);
    background-color: transparent;
    &:hover{
        color: #fff;
    }
}

.btn-signin span{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.7s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.btn-signin:hover span {
    transform: translateY(0) scale(2);
}

.btn-signin span:nth-child(1) {
    --n: 1;
}

.btn-signin span:nth-child(2) {
    --n: 2;
}

.btn-signin span:nth-child(3) {
    --n: 3;
}

.btn-signin span:nth-child(4) {
    --n: 4;
}

.already-text {
    color: gray;    
}