.create-account-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fa0c8d;
}
.btn-primary {
    color: #fff;
    background-color: #02c5ff;
    border-color: #02c5ff;
}
.btn-primary:hover {
    background: #03a9db;
    border-color: #03a9db;    
}