.hero-image{
    // height: 50vh;
    height: 60vh;
    background-image: url("https://res.cloudinary.com/scormier/image/upload/v1620161770/cutie-pie/model-baby_tcmmus.jpg");
    // background-position: center;
    background-position: 80% 55%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.subscribetext {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #35c77e;
}

.btn-signup-newsletter{
     --c: #f97f4d;
    color: var(--c);
    border: 0.1em solid #f97f4d;
    border-radius: 0.5em;
    height: 3.25rem;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.7s;
    color: darken(#f97f4d, 25%);
    background-color: transparent;
    &:hover{
        color: #fff;
    }
}

.btn-signup-newsletter span{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.7s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.btn-signup-newsletter:hover span {
    transform: translateY(0) scale(2);
}

.btn-signup-newsletter span:nth-child(1) {
    --n: 1;
}

.btn-signup-newsletter span:nth-child(2) {
    --n: 2;
}

.btn-signup-newsletter span:nth-child(3) {
    --n: 3;
}

.btn-signup-newsletter span:nth-child(4) {
    --n: 4;
}

.brands-container{
    background: #f9f9f9;
    height: 30vh;
}

.brands-header{
    text-transform: UPPERCASE;
    font-family: 'Khula', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 39px;
    letter-spacing: 4px;
    color: grey;
    margin-top: 50px;
}
