.myNavbar{
    background: #d4edda;
    .navbar-nav .nav-link{
        font-size: 18px;
        color: #f80c8d;
        &:hover{
            color: darken(#f80c8d, 25%)
        }
    }
    
}

.navbar-toggler{
    padding: 1px 6px;
}

.navbar-light .navbar-toggler-icon{
    background-image: url("https://res.cloudinary.com/scormier/image/upload/v1620265208/cutie-pie/pie_hn2tdx.png");
    width: 40px;
    height: 40px;
}


