.colors-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;    
}

.sizes-wrapper, .quantity-wrapper {
    margin-top: 10px;    
}

.large-product-pic {
    width: 100%;
   
    object-fit: cover;
}

.product-brand{
    text-transform: UPPERCASE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: grey;

}
.product-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0; 
    color: grey;
}

.price {
    font-family: sans-serif;
    font-size: 18px;
    color: grey;
}

.color-label {
    font-family: sans-serif;
    font-size: 14px;
    color: grey;
}

.size-label {
    font-family: sans-serif;
    font-size: 14px;
    color: grey;
}

.quantity-label {
    font-family: sans-serif;
    font-size: 14px;
    color: grey;
}

.quantitybtn{
    background-color: #fff;
    border: 1px solid #f97f4d;
    color: grey;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.quantitynum{
    background-color: #fff;
    border: 0px;
    color: grey;
    padding-left: 20px;
    padding-right: 20px;
}

hr {
    width:100%;
    color: grey;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;    
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; 
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
    border: 1px solid #fd9e77;  
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; 
}

.add-to-cart{
    background: #fd9e77;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; 
}

.add-to-cart:hover{
    background: #f97f4d;
    color: #fff;
}

.not-available {
    text-align: center;
    line-height: 2em; 
}

.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; 
}

.product-description{
    font-family: sans-serif;
    font-size: 16px;
    color: grey;
}


// .preview {
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -webkit-flex-direction: column;
//     -ms-flex-direction: column;
//     flex-direction: column; }
//   @media screen and (max-width: 996px) {

// .preview-pic {
//     -webkit-box-flex: 1;
//     -webkit-flex-grow: 1;
//     -ms-flex-positive: 1;
//     flex-grow: 1; 
// }

// .preview {
//     margin-bottom: 20px; 
// }

// @media screen and (min-width: 997px) {
//   .wrapper {
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex; } 
// }

// .details {
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -webkit-flex-direction: column;
//     -ms-flex-direction: column;
//     flex-direction: column; 
// }
// .tooltip-inner {
//     padding: 1.3em; 
// }