.hero-image-profile{
    height: 50vh;
    background-image: url("https://res.cloudinary.com/scormier/image/upload/v1620490307/cutie-pie/model-babies2_hofgql.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.profile-container{
    background: -webkit-gradient(linear, left bottom, right top, from(#d4edda), to(darken(#d4edda, 25%)));
    background: linear-gradient(to top, #d4edda, darken(#d4edda, 25%));
    border-radius: 25px;
}

.profile-image{
    width: 50px;
    height: 50px;
}

.logo{
    position: absolute;
    top: 45%;
    right: 10%;
}