.collection-card{
    box-shadow: -7px 7px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.bottom-btn-container{
    width: 100%;
	height: 50px;
	position: absolute;
	z-index: 15;
    bottom: 25%;
    left: 0%;;
	display: flex;
	justify-content: flex-end;
}

.btn-addtocart, .btn-seedetails {
    background: #fc5959;
    border-color: #fc5959;
    width: 50px;
	height: 50px;
    margin: 0 5px;
    cursor: pointer;
}

.btn-addtocart, .btn-seedetails, .btn-like{
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.btn-addtocart:hover, .btn-seedetails:hover{
    background: #fc5959;
    border-color: #fff;
    transform: scale(1.1);
}

.btn-like{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
	width: 30px;
	height: 30px;
	background: #a37f7f;
	right: 30px;
	top: 20px;
	z-index: 10;
}

.btn-like {
	background: #ffcece;
}

.btn-like:hover{
    transform: scale(1.1);
}